<app-header></app-header>
<div class="hero" >
    <img src="./../../../../assets/images/tool-hero.png" alt="">
    <h1 >Compra en línea para tu negocio</h1>
    <p>tu microempresa en linea.</p>
   
</div>

<hr>

<h2>Servicios</h2>


<div class="container" >
    <div class="container__item1" >
        <img src="https://img.icons8.com/pastel-glyph/64/000000/clock--v1.png"/>
        <p>
            Tus compras llegan segun condiciones de entrega del transportador
        </p>
    </div>
    <div class="container__item2" >
        <img src="https://img.icons8.com/dotty/80/000000/add-receipt.png"/>
        <p>
            El precio del transporte no esta incluido y dependerá del lugar de entrega, se debe cancelar al momento de la entrega.
        </p>
    </div>
    <div  class="container__item3">
        <img src="https://img.icons8.com/metro/26/000000/shop.png"/>
        <p>
            Escoge cuando y donde recibir tus compras
        </p>
    </div>
   
</div>
<app-footer></app-footer>